.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #748d92;
  /* background-image: url('https://example.com/your-background-image.jpg'); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Arial', sans-serif;
  color: #212a31;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: #d3d9d4;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(33, 42, 49, 0.3);
  width: 100%;
  max-width: 400px;
}

.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forgot-password-box {
  background-color: #d3d9d4;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(33, 42, 49, 0.3);
  width: 100%;
  max-width: 400px;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-box {
  background-color: #d3d9d4;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(33, 42, 49, 0.3);
  width: 100%;
  max-width: 800px;
}

.sso-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.sso-icons .icon {
  font-size: 30px;
  cursor: pointer;
  color: #2e3944;
  transition: color 0.3s ease;
}

.sso-icons .icon:hover {
  color: #124e66;
}

.h3-header {
  color: #212a31;
  font-weight: bold;
}

.form-label {
  color: #212a31;
}

.text-link {
  color: #124e66;
}

.text-hidden {
  color: #d3d9d4;
}

.btn-primary {
  background-color: #124e66;
  color: #ffffff;
  border-color: #124e66;
}

.btn-primary:hover {
  background-color: #155c79;
  border-color: #155c79;
}

.btn-secondary {
  background-color: #2e3944;
  color: #ffffff;
  border-color: #2e3944;
}

.btn-secondary:hover {
  background-color: #425261;
  border-color: #425261;
}